<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar por estación..." />

            </div>
        </div>
    </div>

</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">


    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Precio Supervicion Despacho <span
                                class="label label-info">{{totalPrecios}}</span>
                        </h4>
                        <h6 class="card-subtitle">Precios registrados en la aplicación</h6>

                    </div>

                    <div class="col">
                        <div class=" my-2 text-right">
                            <button class="btn btn-primary" type="button"
                                routerLink="/dashboard/supervicionDespachoForm">
                                <i class="fa fa-file-alt"></i>
                                Crear Nuevo
                            </button>
                        </div>
                    </div>



                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Estación</th>
                                    <th>Importe USD</th>



                                    <th class="text-nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let price of precioSupervicion">
                                    <td>
                                        <input type="text" class="form-control" placeholder="Estación"
                                            [(ngModel)]="price.est" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="Importe USD"
                                            [(ngModel)]="price.importeUsd" />
                                    </td>


                                    <td class="text-nowrap text-center">
                                        <a (click)="guardarCambios(price)" data-toggle="tooltip" class="cursor"
                                            data-original-title="Guardar">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <a (click)="eliminarCambios(price)" data-toggle="tooltip" class="cursor"
                                            data-original-title="Borrar">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-secondary">Anterior</button>
                    &nbsp;
                    <button class="btn btn-secondary">Siguiente</button>

                </div>
            </div>
        </div>
    </div>