<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar usuario.." />

            </div>
        </div>
    </div>

</div>

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row">


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Summary Lfr</h4>
                <div class="col-auto p-1 text-center">
                    Inicio : <input type="date" [min]="minDate" [max]="maxDate">
                    &nbsp;
                    &nbsp;
                    Final : <input type="date">
                </div>
                <h6 class="card-subtitle">Registros en la aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Bitacora</th>
                                <th>clasificacion</th>
                                <th>Operador Tramo</th>
                                <th>Matricula</th>

                                <th>Dia</th>
                                <th>Numero Vuelo</th>
                                <th>Origen Destino</th>
                                <th>Origen</th>
                                <th>Destino</th>

                                <th>Nac Int</th>
                                <th>Conversión Suministro a LTS</th>
                                <th>Suministro LTS</th>
                                <th>Conversión Suministro a GLS</th>
                                <th>Combustible consumido</th>

                                <th>Minutos PLATAFORMA EXT</th>
                                <th>TAMPA tramos</th>
                                <th>Tipo de Cambio USD</th>
                                <th>Match RAMPA </th>
                                <th>Vuelo & O_D</th>

                                <th>Precio Aterrizaje </th>
                                <th>Match</th>
                                <th>Precio Plataforma</th>
                                <th>Precio combustible ASA</th>
                                <th>Aterrizaje Costos Operacione</th>

                                <th>Plataforma Costos Operacione</th>
                                <th>Seneam </th>
                                <th>Sobrevuelos cuba euros</th>
                                <th>Combustible </th>
                                <th>Match Costos Operacionales</th>

                                <th>Match Catering</th>
                                <th>Match 2</th>
                                <th>Aterrizaje </th>
                                <th>Conversión Suministro a GLS</th>
                                <th>Plataforma </th>




                                <th>Seneam </th>
                                <th>Servicio de rampa</th>
                                <th>Combustible </th>
                                <th>Sobre vuelo cuba</th>
                                <th>Sobrevuelo panama</th>

                                <th>Coscesna </th>
                                <th>Servicio de rampa mia</th>
                                <th>Plataforma mia</th>
                                <th>Catering mia </th>
                                <th>Aterrizaje gua cam</th>

                                <th>Plataforma gua cam </th>
                                <th>SUPERVISION Y DESPACHO GUA "CAM"</th>
                                <th>MIGRACION GUA "CAM"</th>
                                <th>SERVICIO DE RAMPA GUA "CAM"</th>
                                <th>SUPERVISION Y DESPACHO SJO "CAM"</th>

                                <th>Seguridad</th>
                                <th>APHIS USD </th>
                                <th>SUPERVISION Y DESPACHO GUA "TAMPA"</th>
                                <th>SUPERVISION Y DESPACHO SJO "TAMPA"</th>
                                <th>COMBUSTIBLE GLS</th>

                                <th>COMBUSTIBLE CONSUMIDO GLS</th>
                                <th>ATERRIZAJE USD</th>
                                <th>CATERING ORD USD</th>
                                <th>VIATICOS ORD</th>
                                <th>MANTO ORD</th>

                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>

                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>

                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>

                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>

                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>
                                <td>Lunar probe project</td>



                            </tr>
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secondary">Anterior</button>
                &nbsp;
                <button class="btn btn-secondary">Siguiente</button>

            </div>
        </div>
    </div>
</div>