<p>precio-aterrizaje-mex-hist works!</p>
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar precio aterrizaje.." />

            </div>

        </div>
    </div>

</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Precios Aterrizaje México :<span class="label label-info">
                                {{precios.length}}</span></h4>
                        <h6 class="card-subtitle">Precios registrados en la aplicación</h6>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Aterrizaje</th>
                                <th>Match</th>
                                <th>Nacional/Internacional</th>
                                <th>Horario</th>
                                <th>Precio</th>

                                <th>Usuario</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of precios">

                                <td>{{p.aterrizaje}}</td>



                                <td>{{p.match}}</td>



                                <td>{{p.nacInt}}</td>



                                <td>{{p.horario}}</td>



                                <td>{{p.precio}}</td>

                                <td>{{p.usuario}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>